body {
  
   margin: 0; /* Eliminar márgenes predeterminados del cuerpo */
   padding: 0; /* Eliminar relleno predeterminado del cuerpo */
   /*background-color: #060404; */
   min-height: 100vh; /* Asegura que el cuerpo ocupe al menos toda la altura del viewport */
   display: flex; /* Utiliza flexbox para el diseño */
   flex-direction: column; /* Organiza los elementos en columna */
   justify-content: space-between; /* Ajusta el espacio entre los elementos */
 }
 
 .title {
   color: #5C6AC4;
 }
 
 .input-like {
   background-color: #fffbf4; /* Color de fondo para .input-like */
   width: 168px;
   bottom: 20px;
   border: 0.5px solid #000;
   position: static;

 }
 
 .left{
   position: static;
   background-color: #7e7973;
   width: 220px;
   flex-grow: 1;
 }
 
 .form-container {
   background-color: #c7d4ff;
   position: fixed;
   bottom: 270px; /*Distancia desde abajo */
   left: 1px;/* Distancia desde la izquierda */
   padding: 10px;/* Añade un poco de espacio interior */
   border-radius: 10px; 
   width: 200px;
   
 }
 .rigth{
   position: absolute;
   /*background-color: #19274a; */
   background-image: url('/css/images/gift_project.gif');
   background-size: cover;
   background-position: center;
   top: 0; /* Ajusta la posición superior según sea necesario */
   right: 0; /* Ajusta la posición derecha según sea necesario */
   bottom: 0; /* Ajusta la posición inferior según sea necesario */
   width: calc(100% - 220px); /* Calcula el ancho restante */
   overflow-y: auto; /* Añade scroll vertical solo si es necesario */
   display: grid; /* Utiliza flexbox para distribuir los contenedores */
   grid-template-columns: repeat(3,1fr); /* Permite que los contenedores se ajusten en múltiples líneas */
   gap: 0; /* Espacio entre los contenedores */
   justify-content: center;
   place-items: center;

 }
 
.image-container {
 background-color: #111111; /* Color de fondo para cada contenedor de imagen */
 padding: 15px;
 margin: 15px;
 width: auto; /* Ancho del contenedor, ajusta según necesites */
 height: 200px;
 text-align: center;
 border-radius: 8px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
 
 cursor: pointer;
}
.image-container img {
    /* max-width: 100%; /* Asegura que la imagen se ajuste al contenedor */
    height: 150px; /* Altura automática */
    border-radius: 8px;
    width: 100px;
  }
.image-container h2 {
    color: white;
    font-size:x-small;
    
}

.image-container h3 {
    color: white;
    font-size:x-small;
    position: relative;
}
