<!DOCTYPE html>
<html>
  <head>
    <title>Hello, World!</title>
    <link rel="stylesheet" href="/css/style_response.css" />
  </head>

 <body>
   <div class='left' >
      <div class="form-container">
          <h1 >
            You can chat with chatbot!
          </h1>
          <form action='/chat' method="post">
            <input type="text" name="texto" placeholder="i want a love movie...">
            <div  class="input-like"  readonly> <label for="input-like" >bot: category selected -> {{ categoria }}</label>
            </div>
            
            <input type="submit" value="send to bot">
          </form>
      </div>
   </div>

  <div class= 'rigth'>
      <!-- Contenedor 1 -->
    <div id= "i0" class="image-container" data-info="{{  movies['title'][0]  }}">
        <h2>{{ movies['title'][0] }}</h2>
        <img src='{{ imagen_url }}' alt="Imagen 1">
        <h3>{{ movies['release_year'][0] }}</h3>
        <form id="form" action="/view/recommend" method="POST" style="display: none;">
          <input type="hidden" id="info" name="info">
        </form>
  
      <script>
          // Obtener el div
          var div = document.getElementById('i0');
          
          // Añadir evento de clic al div
          div.addEventListener('click', function() {
              // Obtener la información del div
              var info = this.getAttribute('data-info');
              
              // Colocar la información en el input del formulario
              document.getElementById('info').value = info;
              
              // Enviar el formulario
              document.getElementById('form').submit();
              
              // Redirigir a otra página (opcional)
              
          });
      </script>
    </div>
  
      <!-- Contenedor 2 -->
      <div class="image-container">
        <h2>{{ movies['title'][1] }}</h2>
        <img src="/css/images/thefly_poster.jpg" alt="Imagen 2">
        <h3>{{ movies['release_year'][1] }}</h3>
      </div>
  
      <!-- Contenedor 3 -->
      <div class="image-container">
        <h2>{{ movies['title'][2] }}</h2>
        <img src="/css/images/thething_poster.jpg" alt="Imagen 3">
        <h3>{{ movies['release_year'][2] }}</h3>
      </div>
      <!-- Contenedor 4 -->
    <div class="image-container">
        <h2>{{ movies['title'][3] }}</h2>
        <img src="/css/images/alien_poster.jpg" alt="Imagen 1">
        <h3>{{ movies['release_year'][3] }}</h3>
    </div>
  
      <!-- Contenedor 5 -->
      <div class="image-container">
        <h2>{{ movies['title'][4] }}</h2>
        <img src="/css/images/thefly_poster.jpg" alt="Imagen 2">
        <h3>{{ movies['release_year'][4] }}</h3>
      </div>
      <!-- Contenedor 6 -->
      <div class="image-container">
        <h2>{{ movies['title'][5] }}</h2>
        <img src="/css/images/thefly_poster.jpg" alt="Imagen 2">
        <h3>{{ movies['release_year'][6] }}</h3>
      </div>
      <!-- Contenedor 7 -->
      <div class="image-container">
        <h2>{{ movies['title'][6] }}</h2>
        <img src="/css/images/alien_poster.jpg" alt="Imagen 1">
        <h3>{{ movies['release_year'][6] }}</h3>
    </div>

      <!-- Contenedor 8 -->
      <div class="image-container">
        <h2>{{ movies['title'][7] }}</h2>
        <img src="/css/images/thefly_poster.jpg" alt="Imagen 2">
        <h3>{{ movies['release_year'][7] }}</h3>
      </div>
      <!-- Contenedor 9 -->
      <div class="image-container">
        <h2>{{ movies['title'][8] }}</h2>
        <img src="/css/images/thefly_poster.jpg" alt="Imagen 2">
        <h3>{{ movies['release_year'][8] }}</h3>
      </div>
        
    
  
      
  </div>
  
</body>
</html>

</html>