
<html>
    
<head>
<title> show more info : {{ info }} </title>

<link rel="stylesheet" href="../css/style_view.css">

</head> 


<body>
    <nav class="navbar" >
        <ul class="nav-list">
          <li class="li"><a href="/"> Home </a></li>
          <li class="li"><a href="/"> Info </a></li>
          <li class="li"><a href="/"> Contact </a></li>
        </ul>
      </nav>
    <div class="container">
        <div class="poster">
            <img  src="{{ dicc['posters'] }}" >
        </div>
        <div class="info">
            <h2> Titulo: {{ dicc['title'] }} </h2>
            <p> Ano de salida: {{ dicc['release_year'] }}</p>
            <p> Generos: {{ dicc['genres_reduction'] }}</p>
            <p> Cast: {{ dicc['cast'] }}</p>
            <p> director: {{ dicc['director'] }}</p>
            <p> sinopsis: {{ dicc['description'] }}</p>
        </div>
    </div>    
    </div>
    <div class="rmovies">
        <h1>If you like {{dicc['title']}} you may like:</h1>
            <div id="i0" data-info="{{ dicc2['r1'] }}" class="image-container">
                <h2> {{ dicc2['r1'] }}</h2>
                <img src="/css/images/mars_attacks.jpg" alt="Imagen 1">
                <h3> year </h3>
                <form id="form" action="/view/recommend" method="POST" style="display: none;">
                    <input type="hidden" id="info" name="info">
                  </form>
            
                <script>
                    // Obtener el div
                    var div = document.getElementById('i0');
                    
                    // Añadir evento de clic al div
                    div.addEventListener('click', function() {
                        // Obtener la información del div
                        var info = this.getAttribute('data-info');
                        
                        // Colocar la información en el input del formulario
                        document.getElementById('info').value = info;
                        
                        // Enviar el formulario
                        document.getElementById('form').submit();
                        
                        // Redirigir a otra página (opcional)
                        
                    });
                </script>
            </div>
            <div id="i1" data-info="{{ dicc2['r2'] }}" class="image-container">
                <h2 > {{ dicc2['r2'] }} </h2>
                <img src="/css/images/mars_attacks.jpg" alt="Imagen 1">
                <h3> year </h3>
                <form id="form" action="/view/recommend" method="POST" style="display: none;">
                    <input type="hidden" id="info" name="info">
                  </form>
            
                <script>
                    // Obtener el div
                    var div = document.getElementById('i1');
                    
                    // Añadir evento de clic al div
                    div.addEventListener('click', function() {
                        // Obtener la información del div
                        var info = this.getAttribute('data-info');
                        
                        // Colocar la información en el input del formulario
                        document.getElementById('info').value = info;
                        
                        // Enviar el formulario
                        document.getElementById('form').submit();
                        
                        // Redirigir a otra página (opcional)
                        
                    });
                </script>
            </div>
            <div id="i2" data-info="{{ dicc2['r3'] }}" class="image-container">
                <h2 > {{ dicc2['r3'] }}</h2>
                <img src="/css/images/mars_attacks.jpg" alt="Imagen 1">
                <h3> year </h3>
                <form id="form" action="/view/recommend" method="POST" style="display: none;">
                    <input type="hidden" id="info" name="info">
                  </form>
            
                <script>
                    // Obtener el div
                    var div = document.getElementById('i2');
                    
                    // Añadir evento de clic al div
                    div.addEventListener('click', function() {
                        // Obtener la información del div
                        var info = this.getAttribute('data-info');
                        
                        // Colocar la información en el input del formulario
                        document.getElementById('info').value = info;
                        
                        // Enviar el formulario
                        document.getElementById('form').submit();
                        
                        // Redirigir a otra página (opcional)
                        
                    });
                </script>
            </div>
    </div>

</body>



</html>